/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.order {
  background: var(--black);
  padding-top: 150px;
  .container_custom {
    color: var(--white);
    padding: 0 30px;
    .car_content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      .car_img {
        width: 45%;
        border-radius: 10px;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      .car_title {
        width: 45%;
        span {
          color: var(--yellow);
          font-weight: 700;
          font-size: 20px;
        }
        h3 {
          font-size: 3rem;
          font-weight: 700;
        }
        p {
          font-size: 20px;
          padding-top: 20px;
          opacity: 0.6;
        }
        ul {
          padding-top: 50px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          gap: 20px;

          li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            gap: 20px;
            .box {
              width: 45px;
              height: 45px;
              border-radius: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              background-color: var(--white);
              opacity: 0.8;
              // padding-top: 10px;
            }
            p {
              padding-top: 0;
            }
          }
        }
      }
    }
    .car_desc {
      text-align: center;
      padding-top: 30px;
      font-size: 15px;
      line-height: normal;
    }
    .booking {
      padding-top: 150px;
      padding-bottom: 100px;
      h3 {
        text-align: center;
        font-size: 3rem;
        font-family: "Plus Jakarta Sans";
        font-weight: 700;
      }
      h4 {
        text-align: center;
        font-size: 2rem;
        font-family: "Plus Jakarta Sans";
        font-weight: 700;
        opacity: 0.8;
      }
      form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 70px;
        .inputs {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding-bottom: 30px;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          input {
            padding: 20px 50px;
            border-radius: 10px;
            background-color: var(--dark);

            outline: none;
            border: none;
            color: var(--white);
            font-size: 15px;
            font-family: "Plus Jakarta Sans";
            &::-webkit-input-placeholder {
              font-size: 17px;
              color: var(--white);
              font-family: "Plus Jakarta Sans";
              opacity: 0.5;
            }
            &::-moz-placeholder {
              font-size: 17px;
              color: var(--white);
              font-family: "Plus Jakarta Sans";
              opacity: 0.5;
            }
            &:-ms-input-placeholder {
              font-size: 17px;
              color: var(--white);
              font-family: "Plus Jakarta Sans";
              opacity: 0.5;
            }
            &::-ms-input-placeholder {
              font-size: 17px;
              color: var(--white);
              font-family: "Plus Jakarta Sans";
              opacity: 0.5;
            }
            &::placeholder {
              font-size: 17px;
              color: var(--white);
              font-family: "Plus Jakarta Sans";
              opacity: 0.5;
            }
          }
        }
        button {
          padding: 12px 120px;
          border-radius: 10px;
          font-size: 15px;
          font-weight: 400;
          text-transform: uppercase;
          font-family: "Plus Jakarta Sans";
          background-color: var(--yellow);
          color: var(--white);
          // opacity: 0.7;
          border: none;
          outline: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .order {
    .container_custom {
      .car_content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 30px;
        gap: 25px;
        .car_img {
          width: 100%;
          border-radius: 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }
        .car_title {
          width: 100%;
          span {
            color: var(--yellow);
            font-weight: 700;
            font-size: 17px;
          }
          h3 {
            font-size: 2.7rem;
            font-weight: 700;
          }
          p {
            font-size: 18px;
            padding-top: 20px;
            opacity: 0.6;
          }
          ul {
            padding-top: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 20px;
            li {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              gap: 15px;
              .box {
                width: 45px;
                height: 45px;
                border-radius: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                background-color: var(--white);
                opacity: 0.8;
              }
              p {
                padding-top: 0;
              }
            }
          }
        }
      }
      .booking {
        padding-top: 50px;
        padding-bottom: 50px;

        h3 {
          text-align: center;
          font-size: 2.5rem;
        }
        h4 {
          font-size: 1.5rem;
        }
        form {
          width: 80%;
          margin: 0 auto;
          .inputs {
            -webkit-box-orient: vertical;

            -webkit-box-direction: normal;

            -ms-flex-direction: column;

            flex-direction: column;
            gap: 10px;
            padding-bottom: 30px;
            width: 100%;
            input {
              padding: 20px 30px;
              width: 100%;
              font-size: 15px;

              &::-webkit-input-placeholder {
                font-size: 18px;
              }

              &::-moz-placeholder {
                font-size: 18px;
              }

              &:-ms-input-placeholder {
                font-size: 18px;
              }

              &::-ms-input-placeholder {
                font-size: 18px;
              }

              &::placeholder {
                font-size: 18px;
              }
            }
          }
          button {
            padding: 18px 10px;
            width: 100%;
            font-size: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .order {
    .container_custom {
      .car_content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 30px;
        gap: 25px;
        .car_img {
          width: 100%;
          border-radius: 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }
        .car_title {
          width: 100%;
          span {
            color: var(--yellow);
            font-weight: 700;
            font-size: 17px;
          }
          h3 {
            font-size: 2.7rem;
            font-weight: 700;
          }
          p {
            font-size: 18px;
            padding-top: 20px;
            opacity: 0.6;
          }
          ul {
            padding-top: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 20px;
            li {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              gap: 15px;
              .box {
                width: 45px;
                height: 45px;
                border-radius: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                background-color: var(--white);
                opacity: 0.8;
              }
              p {
                padding-top: 0;
              }
            }
          }
        }
      }
      .booking {
        padding-top: 50px;
        padding-bottom: 50px;

        h3 {
          text-align: center;
          font-size: 2.5rem;
        }
        h4 {
          font-size: 1.5rem;
        }
        form {
          .inputs {
            -webkit-box-orient: vertical;

            -webkit-box-direction: normal;

            -ms-flex-direction: column;

            flex-direction: column;
            gap: 10px;
            padding-bottom: 30px;

            input {
              padding: 18px 30px;

              font-size: 15px;

              &::-webkit-input-placeholder {
                font-size: 15px;
              }

              &::-moz-placeholder {
                font-size: 15px;
              }

              &:-ms-input-placeholder {
                font-size: 15px;
              }

              &::-ms-input-placeholder {
                font-size: 15px;
              }

              &::placeholder {
                font-size: 15px;
              }
            }
          }
          button {
            padding: 12px 10px;

            font-size: 20px;
          }
        }
      }
    }
  }
}
