.mui-a643pv-MuiStack-root >.MuiTextField-root{
    min-width: 0 !important;
    border: none !important;
}
.mui-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
margin-right: 0px !important;
}
.mui-slyssw{
margin-right: 0px !important;

}
.mui-p0rm37{
    font-size: 10px !important;
}
.mui-1uvydh2::placeholder{
    font-size: 8px !important;

}
.mui-igs3ac{
    border: none !important;
    border-width:0px !important;
}
